
 <%= form_for :shiping, url: shipments_path, local: true do |form| %>
        
        <div class="row justify-content-center">
          <div class="col-100">
            <div class="text-center m-1"><h3 >Billing Address</h3></div>

            <div class="row">
              <div class="col-50">
                <div class="field">
                  <span class="d-flex flex-row"><i class="fa fa-user mr-1"></i> 
                  <%= form.label :First_Name, class:'text-capitalize' %></span>
                  <%= form.text_field :fname, placeholder:"First_Name" %>
                </div>
              </div>
              <div class="col-50 ">
                <div class="field ">
                  <span class="d-flex flex-row"><i class="fa fa-user mr-1"></i> 
                  <%= form.label :Last_Name, class:'text-capitalize' %></span>
                  <%= form.text_field :lname, placeholder:"Last_Name" %>
                </div>
              </div>
              <div class="field">
                <% id = current_user.id%>
                <%= form.hidden_field :user_id, value:id, class:"form-control"%>
              </div>
            </div>

            <div class="field ">
            <span class="d-flex flex-row"><i class="fa fa-envelope mr-1"></i>
            <%= form.label :Email %></span>
            <%= form.text_field :email, placeholder:"ali@gmail.com" %>
            </div>
            <div class="field ">
              <span class="d-flex flex-row"><i class="fa fa-phone mr-1"></i>
              <%= form.label :contact_number, class:'text-capitalize' %></span>
              <%= form.text_field :phone, placeholder:"+923001234567" %>
            </div>
            <div class="field ">
              <span class="d-flex flex-row"><i class="fa fa-address-card-o mr-1"></i>
              <%= form.label :Address %></span>
              <%= form.text_field :address, placeholder:"542 W. 15th Street" %>
            </div>
            
            <div class="field ">
              <span class="d-flex flex-row"><i class="fa fa-institution mr-1"></i>
              <%= form.label :City %></span>
              <%= form.text_field :city, placeholder:"City" %>
            </div>

            <div class="row">
              <div class="col-50">
                <div class="field">
                  <span class="d-flex flex-row"><i class="fa fa-home mr-1"></i> 
                  <%= form.label :status %></span>
                  <%= form.text_field :status, placeholder:"status" %>
                </div>
              </div>
              <div class="col-50 ">
                <div class="field ">
                  <span class="d-flex flex-row"><i class="fa fa-map-marker mr-1"></i> 
                  <%= form.label :zip%></span>
                  <%= form.text_field :zip, placeholder:"1001" %>
                </div>
              </div>
            </div>
          </div> 
        </div>
        </br>
        <div class="actions text-center">

          <%= form.submit 'Submit', class:'btn btn-success', remote: true %>
        </div>
      <% end %>